<div class="card">
    <div class="card-header">
        {{ recipe.name }}
    </div>
    <div class="card-body">
        <p>Portionen: {{ recipe.servings }} </p>
        <p>Zutaten:</p>
        <p> {{ recipe.ingredients | linebreaks }} </p>
        <p>Anleitung:</p>
        <p> {{ recipe.text | linebreaks }} </p>
    </div>
    <div class="card-footer">
        <a class="btn btn-warning" href="/recipes/delete_recipe/{{recipe.id}}">Rezept entfernen</a>
        <a class="btn btn-primary" href="/recipes/edit_recipe/{{recipe.id}}">Rezept bearbeiten</a>
    </div>
</div>