<div class="card">
    <div class="card-header">
       {{ dish.name }} {{ recipe.name }}
    </div>
    <div class="card-body">
        <p>Portionen: {{ recipe.servings }} </p>
        <h5>Zutaten <small>(für {{ recipe.servings }} Portionen)</small></h5>
        <p> {{ recipe.ingredients | linebreaks }} </p>
        <h5>Anleitung:</h5>
        <p> {{ recipe.text | linebreaks }} </p>
    </div>
    <div class="card-footer">
        <a class="btn btn-warning" href="/recipes/delete_recipe/{{recipe.id}}">Rezept entfernen</a>
        <a class="btn btn-primary" href="/recipes/edit_recipe/{{recipe.id}}">Rezept bearbeiten</a>
    </div>
</div>