<div class="card">
    <div class="card-body">
        <table class="table">
            <thead>
                <tr style="border-top: hidden">
                    <th>ID</th>
                    <th>Koch</th>
                    <th>Name</th>
                    <th>Erstellt</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for r in recipes %}
                <tr>
                    <td> {{ r.id }} </td>
                    <td> {{ r.user.username }} </td>
                    <td> {{ r.name }} </td>
                    <td> {{ r.created }} </td>
                    <td><a href="/recipes/recipe/{{r.id}}" title="Lesen"><i class="far fa-file-alt"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <a class="btn btn-primary" href="/recipes/add_recipe/{{dish_id}}">Neues Rezept</a>
    </div>
</div>
