asgiref==3.3.1
boto3==1.12.39
botocore==1.15.39
certifi==2019.11.28
confusable-homoglyphs==3.2.0
Django==3.1.7
django-debug-toolbar==2.2
django-registration==3.1
django-storages==1.9.1
docutils==0.15.2
gunicorn==20.0.4
jmespath==0.9.5
Pillow==7.1.1
psycopg2-binary==2.8.5
python-dateutil==2.8.1
pytz==2019.3
s3transfer==0.3.3
six==1.14.0
sqlparse==0.3.0
urllib3==1.25.8
whitenoise==5.0.1
wincertstore==0.2
django-crispy-forms==1.11.1
django-filter==2.4.0
django-select2==7.6.2
django-redis==4.12.1
django-simple-history==2.12.0