{% extends 'base.html' %}
{% block content %}
{% load i18n %}

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
               {{ dish.name }} {{ recipe.name }}
            </div>
            <div class="card-body">
                <p>{% trans 'Servings' %}: {{ recipe.servings }} </p>
                <h5>{% trans 'Ingredients' %}: <small>(für {{ recipe.servings }} Portionen)</small></h5>
                <p> {{ recipe.ingredients | linebreaks }} </p>
                <h5>{% trans 'Method' %}:</h5>
                <p> {{ recipe.text | linebreaks }} </p>
            </div>
            <div class="card-footer">
                <!-- <a class="btn btn-warning" href="/delete_recipe/{{recipe.id}}">Delete recipe</a>
                <a class="btn btn-primary" href="/edit_recipe/{{recipe.id}}">Rezept bearbeiten</a> -->
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
               {% trans 'Edit recipe' %}
            </div>
            <div class="card-body">
                <form method="POST" class="post-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_name">{% trans 'Recipe name' %}</label>
                        <input type="text" class="form-control" id="id_name" name="name" value="{{recipe.name}}"></input>                
                    </div>
                    <div class="form-group">
                        <label for="id_servings">{% trans 'Portions' %}</label>
                        <input type="number" class="form-control" id="id_servings" name="servings" value="{{recipe.servings}}"></input>                
                    </div>
                    <div class="form-group">
                        <label for="id_ingredients">{% trans 'Ingredients' %}</label>
                        <textarea class="form-control" id="id_ingredients" name="ingredients" rows="3">{{recipe.ingredients}}</textarea>                
                    </div>
                    <div class="form-group">
                        <label for="id_text">{% trans 'Method' %}</label>
                        <textarea class="form-control" id="id_text" name="text" rows="3">{{recipe.text}}</textarea>                
                    </div>
            </div>
            <div class="card-footer">
                <button type="submit" value="Submit" class="btn btn-primary">{% trans 'OK' %}</button>
                <a class="btn btn-primary" href="/recipe/{{recipe.id}}">{% trans 'Back' %}</a>
            </form>
            </div>
        </div>
    </div>
    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}