{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive" style="overflow: hidden">
                    <table id="dashboard-table" class="table" style="width:100%">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Typ</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dish in dishes %}
                            {% if dish.id == dish_id %}
                            <tr class="table-primary">
                            {% else %}
                            <tr></tr>
                            {% endif %}
                                <td>{{dish.name}}</td>
                                <td>{{dish.type}}</td>
                                <td><a href="/edit_dish/{{dish.id}}"><i class="fas fa-edit"></i></a></td>
                                {% if dish.id == dish_id %}
                                    <td><a href="/recipes/{{dish.id}}"><i class="fas fa-book-open"></i></a></td>
                                {% else %}
                                    <td><a href="/recipes/{{dish.id}}"><i class="fas fa-book"></i></a></td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="/add_dish">Gericht hinzufügen</a>
            </div>
        </div>
    </div>
    {% if recipes is not None %}
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                {% if recipes.all %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Zuletzt geändert</th>
                                <th>Zuletzt gekocht</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for r in recipes %}
                            <tr>
                                <td> {{ r.last_modified }} </td>
                                <td> NA </td>
                                <td><a href="/recipe/{{recipe.id}}"><i class="far fa-file-alt"></i></a></td>
                                <td><a class="text-warning" href="/delete_recipe/{{r.id}}"><i class="far fa-trash-alt"></i></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    Keine Rezepte gefunden
                {% endif %}
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="/add_recipe/{{dish_id}}">Neues Rezept</a>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}