{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-4">
                        <h4 class="card-title">Gerichte</h4>
                    </div>
                    <div class="col-8" align="right">
                        <a class="btn btn-primary" href="/add_dish">Gericht hinzufügen</a>
                      </div>
                </div>      
            </div>
            <div class="card-body">
                {% for dish in dishes %}
                    <p> {{ dish.name }} </p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}