{% extends 'base.html' %}
{% block content %}
{% load i18n %}
{% load crispy_forms_tags %}

<div class="row">
    <div class="col-md-3">
        <div class="card mb-3">
            <div class="card-header">
                <h5>{% trans 'Search' %}</h5>
            </div>
            <div class="card-body">
                <form method="get">
                    {{ filter.form | crispy }}
            </div>
            <div class="card-footer">
                <button type="submit" value="Submit" class="btn btn-primary">{% trans 'OK' %}</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-6">
                        <h5>{% trans 'Recipes' %}</h5>
                    </div>
                    <div class="col-6 text-end">
                        <a class="btn btn-primary" href="/add_recipe">{% trans 'Add Recipe' %}</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive" style="overflow: auto">
                    <table class="table">
                        <thead>
                            <tr style="border-top: hidden">
                                <th>{% trans 'Recipe' %}</th>
                                <th>{% trans 'Cook' %}</th>
                                <th>{% trans 'Course' %}</th>
                                <th>{% trans 'Cousine' %}</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for r in filter.qs %}
                            <tr>
                                <td> {{ r.name }} </td>
                                <td> {{ r.user.profile.display_name }} </td>
                                <td> {{ r.get_course_display }} </td>
                                <td> {{ r.get_cuisine_display }} </td>
                                {% if r.vegetarian %}
                                    <td><i class="fas fa-seedling"></i></td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                {% if r.meat %}
                                    <td><i class="fas fa-bacon"></i></td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                {% if r.fish %}
                                    <td><i class="fas fa-fish"></i></td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                <td><a href="/recipe/{{r.id}}" title="Lesen"><i class="far fa-file-alt"></i></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- <div class="card-footer">
                <a class="btn btn-primary" href="/add_recipe/{{dish.id}}">{% trans 'New recipe' %}</a>
            </div> -->
        </div>
    </div>
    
</div>
{% endblock %}