{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <h3>{{ recipe.dish.name }}: {{ recipe.name }} von {{recipe.user.username}} </h3>
    
    <br>

    <div class="card-deck">
        {% include "recipes/cards/ingredients.html" %}
        {% include "recipes/cards/instructions.html" %}
    </div>

    <br>

    <a class="btn btn-primary" href="/recipes/dish/{{recipe.dish.id}}">Zurück</a>
    {% if recipe.user == request.user %}
        <a class="btn btn-warning" href="/recipes/delete_recipe/{{recipe.id}}">Rezept entfernen</a>
        <a class="btn btn-secondary" href="/recipes/edit_recipe/{{recipe.id}}">Rezept bearbeiten</a>
    {% endif %}
</div>

{% endblock %}