{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-lg-6">
        {% include "cards/recipe.html" %}
    </div>
    <div class="col-lg-6">
        <div style="overflow: hidden">
            <table id="recipe-table" class="table" style="width:100%">
                <tbody>
                    <tr>
                        <td>Iterationen</td>
                        <td>7</td>
                    </tr>
                    <tr>
                        <td>Zuletzt gekocht</td>
                        <td>Gestern</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}