{% extends 'base.html' %}
{% block content %}
{% load i18n %}

<div class="col-md-6 mx-auto">
{% if activities %}
    <div class="card-deck">
        {% for a in activities %}
        <div class="card" style="width: 18rem;">
            {% if a.picture %}
                <img class="card-img-top" src={{a.picture.url}} width="256">
            {% endif %}                     
            <div class="card-body">
                <h5 class="card-title">{{a.user.profile.display_name}}</h5>
                <p class="card-text">{{a.date}}</p>
                <p class="card-text">View details</p>
            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
    {% trans 'No activities' %}
{% endif %}
</div>

{% endblock %}