{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load i18n %}

<div class="col-md-4 mx-auto">
    <div class="card card-white">
        <div class="card-header">
            <h3 class="card-title">{% trans 'Add activity' %}</h3>
        </div>
        <div class="card-body">
            <form method="POST" class="post-form" enctype="multipart/form-data"> 
                {% csrf_token %}
                {{ form.media.css }}

                Date*
                <div class="input-group date" data-provide="datepicker">
                    <input type="text" name="datetime" class="datetimeinput form-control" required id="id_datetime">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>        

                {{ form.recipes | as_crispy_field }}
                {{ form.guests | as_crispy_field }}

                {{ form.media.js }}
            </div>
            <div class="card-footer">
                <button type="submit" value="Submit" class="btn btn-primary">{% trans 'OK' %}</button>
                <a class="btn btn-secondary" href="/">{% trans 'Back' %}</a>
            </form>
        </div>
        </div>
    </div>
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
    {% endif %}
</div>


<script>
    $('.datepicker').datepicker({
    format: 'mm/dd/yyyy',
    startDate: '-3d'
});
</script>

{% endblock %}