{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="col-md-6 ml-auto mr-auto">
    <div class="card card-white">
        <div class="card-header">
            <h4 class="card-title">Profil bearbeiten</h4>
        </div>

        <div class="card-body">
            <form method="POST" class="post-form" enctype="multipart/form-data"> 
                {% csrf_token %}
                {{ form | crispy }}
    
                <button type="submit" class="btn btn-primary">OK</button>
                <a class="btn btn-secondary" href="/accounts/profile">Zurück</a>
            </form>
        </div>
    </div>
    {% if form.errors %}
    <div id="form-error">
        <p>The operation could not be performed because one or more error(s) occurred.<br />Please resubmit the form after making the following changes:</p>
        <ul>
        {% for field in form %}
        <li>{{field.name }}: {{ field.errors|striptags }}</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}