{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="card">
        <div class="card-header">
            Profil
        </div>
        <div class="card-body">
            <img class="mb-4" src="/media/{{p.picture}}" alt="" width="72" height="72">
            <p>Username: {{p.user.username}}</p>
            <p>Angezeigter Name: {{p.display_name}}</p>
            <p>Language: {{p.language}}</p>
        </div>
        <div class="card-footer">
            <a class="btn btn-primary" href="/accounts/edit_profile">Profil bearbeiten</a>
        </div>
    </div>
</div>
{% endblock %}