{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="card">
        <div class="card-header">
            Köche
        </div>
        <div class="card-body">
            <div class="table-responsive" style="overflow: auto">
                {% if users %}
                    <table id="dashboard-table" class="table" style="width:100%">
                        <thead>
                            <tr style="border-top: hidden">
                                <th>Name</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for u in users %}
                            <tr>
                                <td>{{u.username}}</td>
                                <!-- <td><a href="/guests/edit_guest/{{g.id}}" title="Bearbeiten"><i class="fas fa-edit"></i></a></td>
                                <td><a href="/guests/delete_guest/{{g.id}}" title="Loeschen"><i class="fas fa-trash"></i></a></td> -->
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    No users set up
                {% endif %}
            </div>
        </div>
        <div class="card-footer">
        </div>
    </div>
</div>
{% endblock %}