{% extends 'base.html' %}
{% block content %}

<div class="col-md-4 ml-auto mr-auto">
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr style="border-top: hidden">
                        <th>Benutzer</th>
                        <th>Rezepte</th>
                        <th>Updates</th>
                    </tr>
                </thead>
                <tbody>
                    {% for u in users %}
                        <tr>
                            <td>{{ u }}</td>
                            <td>17</td>
                            <td> <i class="far fa-check-square"></i> </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}