{% extends 'base_head.html' %}
{% load static %}
{% load i18n %}

{% block base %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav me-auto mb-2 mb-sm-0">
      <!-- <li class="nav-item">
        {% if request.path == '/dashboard' %}
          <a class="nav-link active" href="/dashboard">{% trans 'Dashboard' %}</a>
        {% else %}
          <a class="nav-link" href="/dashboard">{% trans 'Dashboard' %}</a>
        {% endif %}
      </li> -->
      <li class="nav-item">
        {% if 'activities' in request.path%}
          <a class="nav-link active" href="/activities">{% trans 'Activities' %}</a>
        {% else %}
          <a class="nav-link" href="/activities">{% trans 'Activities' %}</a>
        {% endif %}
      </li>
      <li class="nav-item">
        {% if 'recipe' in request.path or 'dish' in request.path %}
          <a class="nav-link active" href="/dishes">{% trans 'Cook book' %}</a>
        {% else %}
          <a class="nav-link" href="/dishes">{% trans 'Cook book' %}</a>
        {% endif %}
      </li>
      <li class="nav-item">
        {% if 'guests' in request.path %}
          <a class="nav-link active" href="/guests">{% trans 'Guests' %}</a>
        {% else %}
          <a class="nav-link" href="/guests">{% trans 'Guests' %}</a>
        {% endif %}
        </li>
    </ul>
    <ul class="navbar-nav ms-auto">
      <li><a class="btn btn-primary" href="/add_activity">{% trans 'Add activity' %}</a></li>
      <li><a class="nav-link ps-4" href="/accounts/logout"><i class="fas fa-sign-out-alt fa-fw"></i> {% trans 'Log out' %}</a></li>
      <li><a class="nav-link ps-4" href="/profile"><i class="fas fa-cog fa-fw"></i> {% trans 'Settings' %}</a></li>
    </ul>
  </div>
</nav>

<main role="main" class="container-fluid">

  {% block content %}
  {% endblock %}
          
</main><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script></body>

</html>
{% endblock %}