{% load static %}

<!doctype html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Rezeptothek</title>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" %}></script>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/starter-template/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    </head>

    <body >
        {% block base %}
        {% endblock %}
    </body>
</html>